<div class="row">
    <!-- Card Projects -->
    <div class="col-md-10 col-md-offset-1">
      <div class="card">
  
        <div class="card-content">
          <div class="row">
            <div class="col-md-12 col-md-offset-1">
              <h3>Bus ID: 1</h3>
              <h3>Bus Number: 174</h3>
            </div>
          </div>
        </div>
  
        <div class="card-action">
          <div class="row">
            <div class="col-md-3 col-sm-6 pull-right">
              <button href="#fakelink" class="btn btn-block btn-lg btn-fill btn-default">Scan Card</button>
              <button href="#fakelink" class="btn btn-block btn-lg btn-fill btn-default" data-target="#myModal" data-toggle="modal">Enter Reference</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">Enter Card Reference No.</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="form-group">
              <input type="text" value="" placeholder="Reference No." class="form-control" [(ngModel)]="trip.tokenRef">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
          <div class="divider"></div>
          <button type="button" class="btn btn-info btn-simple" (click)="validateToken()">Submit</button>
        </div>
      </div>
    </div>
  </div>