<div class="row">
  <!-- Card Projects -->
  <div class="col-md-10 col-md-offset-1">
    <div class="card">

      <div class="card-content">
        <div class="row">
          <div class="col-md-12 col-md-offset-1">
            <h3>Bus ID: 1</h3>
            <h3>Bus Number: 174</h3>
            <div class="row">
              <div class="col-md-8 col-md-offset-1">
                <!-- User Details -->
                <div class="row">
                  <div class="w3-container" style="padding-top:5%; margin-bottom:5%">
                    <div class="w3-card-4">
                      <header class="w3-container w3-light-grey">
                        <h3>{{passenger.name}}</h3>
                      </header>
                      <div class="w3-container" style="padding:5%">
                        <img src="./assets/img/avatar.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                        <h5 *ngIf="passenger.account != null">Account No: {{passenger.account.accountId}}</h5>
                        <h5>Card Ref. No: {{token}}</h5>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Trip Details -->
                <div class="row">
                  <div class="w3-container">
                    <div class="w3-card-4">
                      <div class="w3-container" style="padding:5%; margin-bottom:5%">
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="form-group">
                              <label for="sel1">Select Start Location:</label>
                              <select class="form-control" id="sel1" [(ngModel)]="startLocation">
                                <option *ngFor="let busHalt of busHalts" [value]="busHalt.location">
                                  {{busHalt.location}}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="form-group">
                              <label for="sel1">Select Destination:</label>
                              <select class="form-control" id="sel1" [(ngModel)]="endLocation">
                                <option *ngFor="let busHalt of busHalts" [value]="busHalt.location">
                                  {{busHalt.location}}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Payment Details -->
                <div class="row">
                  <div class="w3-container" *ngIf="showPayment">
                    <div class="w3-card-4">
                      <header class="w3-container w3-light-grey">
                        <h3>Fine Summary</h3>
                      </header>
                      <div class="w3-container" style="padding:5%; margin-bottom:5%">
                        <h4>
                          <b>Distance:</b> {{trip.distance}} KM</h4>
                        <h4>
                          <b>Rate: </b> Rs. {{trip.rate}} per KM</h4>
                        <h4>
                          <b>Card Balance: </b>Rs. {{trip.currentBalance}}</h4>
                        <hr/>
                        <h3 style="text-align:center">
                          <b> Your total fee is: Rs. {{trip.price}} </b>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="showPayment && payWithCash">
          <div class="container">
            Your card balance is insufficient for this trip! You can still take the journey by paying with Cash.
          </div>
        </div>
      </div>

      <div class="card-action">
        <div class="row">
          <div class="col-md-3 col-sm-6 pull-right">
            <button href="#fakelink" *ngIf="!showPayment" class="btn btn-block btn-lg btn-fill btn-default" (click)="addTrip()">Submit</button>
            <button href="#fakelink" *ngIf="showPayment && payWithCash" class="btn btn-block btn-lg btn-fill btn-default" (click)="makePaymentWithCash()">Pay With Cash</button>
            <button href="#fakelink" *ngIf="showPayment && !payWithCash" class="btn btn-block btn-lg btn-fill btn-default" (click)="makePaymentWithCard()">Pay With Card</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>