<div class="row">
  <!-- Card Projects -->
  <div class="col-md-10 col-md-offset-1">
    <div class="card">

      <div class="card-content">
        <div class="row">
          <div class="col-md-12 col-md-offset-1">
            <h3>Bus ID: </h3>
            <h3>Bus Number: </h3>
            <div class="row">
              <div class="col-md-8 col-md-offset-1">
                <div class="card">

                  <div class="card-content">
                    <div class="row">
                      <div class="col-md-12">
                        <h4>User ID: </h4>
                        <h4>Name: </h4>
                        <h4>Account No: </h4>
                        <h4>Card Ref. No: </h4>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="sel1">Select Start Location:</label>
                                    <select class="form-control" id="sel1">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                    </select>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                              <div class="form-group">
                                  <div class="form-group">
                                      <label for="sel1">Select Destination:</label>
                                      <select class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                      </select>
                                    </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-action">
        <div class="row">
          <div class="col-md-3 col-sm-6 pull-right">
            <button href="#fakelink" class="btn btn-block btn-lg btn-round btn-default">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>